@{ 
    var observacion = ViewData["observacion"] as Tuple<int, String>;
    <h2>Crear Ronda de Observacion</h2><br /><br />
    using (Html.BeginForm(new { idObservacion = observacion.Item1 }))
    {
        <span>Fecha y Hora de la Ronda: </span><br />
        <input type="datetime-local" name="fecha_hora"><br />
        <span>Humedad: </span><br />
        <input type="number" step="0.01" name="humedad"><br />
        <span>Temperatura: </span><br />
        <input type="number" step="0.01" name="temperatura"><br />
        <span>Descripción</span><br />
        <textarea name="descripcion"></textarea><br />
        <input type="hidden" name="id_observacion" value=@observacion.Item1>
        <input type="submit" value="Crear Ronda">
    }
}