@{
    var observacion = ViewData["observacion"] as Tuple<int, String>;
    var ronda = ViewData["ronda"] as Dictionary<String, dynamic>;

    <h2>Modificar Ronda de Observacion</h2><br /><br />
    using (Html.BeginForm(new { idRonda = ronda["id_ronda"], idObservacion = observacion.Item1 }))
    {
        <span>Fecha y Hora de la Ronda: </span><br />
        <input type="datetime-local" name="fecha_hora" value=@ronda["fecha_hora"].ToString("yyyy-MM-ddTHH:mm")><br />
        <span>Humedad: </span><br />
        <input type="number" name="humedad" step="0.01" value=@ronda["humedad"].ToString()><br />
        <span>Temperatura: </span><br />
        <input type="number" name="temperatura" step="0.01" value=@ronda["temperatura"].ToString()><br />
        <span>Descripción</span><br />
        <textarea name="descripcion">@ronda["descripcion"]</textarea><br /><br />
        <input type="hidden" name="id_observacion" value=@observacion.Item1>
        <input type="hidden" name="id_ronda" value=@ronda["id_ronda"].ToString()>
        <input type="submit" value="Modificar Ronda">
    }
}