<h2>Administración de Actividad</h2>
<p>En esta sección podrá manejar los datos asociados a los usuarios registrados dentro del sistema. </p>
<br><br>
<div>
    @{
        var nombreProy = ViewData["nombre"].ToString();
        var idProyS = ViewData["id"].ToString();
        <span>El proyecto de nombre @nombreProy y de ID:_@idProyS tiene las siguientes actividades registradas:</span><br><br>
        var actividades = ViewData["actividades"] as List<Tuple<int, String>>;
        if (actividades.Count > 0)
        {
        <div>
            Haga click sobre una actividad para ver sus detalles y si así lo desea modificarlos.<br><br>
            <ul>
                @foreach (Tuple<int, String> tuple in actividades)
                {
                    var idS = tuple.Item1.ToString();
                    <li>
                        <span>
                            @Html.ActionLink(tuple.Item2, "Modificar", "Actividad", routeValues:new { idProyecto = idProyS, idActividad = idS }, htmlAttributes: null)
                            <button>@Html.ActionLink("Eliminar", "Eliminar", "Actividad", routeValues:new { idProyecto = idProyS, idActividad = idS }, htmlAttributes: null)</button>
                        </span>
                    </li>
                }
            </ul>
        </div>
        }
        else
        {
            <div>No hay actividades registradas</div>
        }
        <div>
            Crear una actividad nueva para el proyecto asociado:<br>
            <button>@Html.ActionLink("Crear Actividad", "Crear", "Actividad", new { id = idProyS.ToString() }, null)</button>
        </div>
    }
</div>

