@{
    var proyecto = ViewData["proyecto"] as Tuple<int, String>;
    var actividades = ViewData["actividades"] as List<Tuple<int, String>>;
    var idOp = (int)ViewData["id_op"];

    <h2 class="h2">Crear Observación</h2>

    <hr />

    using (Html.BeginForm("Crear", "Observacion",
        new { idProyecto = proyecto.Item1, idOp = idOp }, FormMethod.Post, null))
    {
        <div class="row">
            <div class=input-group>
                <div class="input-group-prepend">
                    <span class="input-group-text">Día de Observación</span>
                </div>
                <input type="date" class="form-control" name="dia">
            </div>
        </div>

        <hr />

        <div class="row">
            <div class=input-group>
                <div class="input-group-prepend">
                    <span class="input-group-text">Descripcion</span>
                </div>
                <textarea class="form-control" name="descripcion"></textarea>
            </div>
        </div>

        <hr />

        <div class="row">
            <div class=input-group>
                <div class="input-group-prepend">
                    <span class="input-group-text">Operacion</span>
                </div>
                <select name="actividad" class="custom-select">
                    @foreach (Tuple<int, String> actividad in actividades)
                    {
                        <option value=@actividad.Item1>@actividad.Item2</option>
                    }
                </select>
            </div>
        </div>

        <hr />

        <div class="row">
            <input type="hidden" name="id_proyecto" value=@proyecto.Item1>
            <input type="submit" value="Modificar Observación">
        </div>

    }
}