@{
    ViewBag.Title = "Proyecto";
}

<h2>Administración de Proyectos</h2>
@{ 
    var lista = ViewData["lista_proyectos"] as List<Tuple<int,String>>;
    if (lista != null)
    {
        <ul>
            @{ 
                foreach(Tuple<int,String> proyecto in lista)
                {
                    var onClickS = "mostrarAccionesProyecto('" + proyecto.Item1 + "')";
                    var listaId = "ListaProyecto" + proyecto.Item1;
                    <li>
                        <span>
                            @Html.ActionLink(proyecto.Item2, "Modificar", new { id = proyecto.Item1 })
                            <button onclick=@onClickS>Mostrar Acciones Disponibles</button>
                        </span>
                    </li>
                    <br>
                    <ul id=@listaId class="ListaSubProyecto">
                        <li class="li_ListaSubProyecto">@Html.ActionLink("Manejo de Actividades", "Index", "Actividad", new { idProyecto = proyecto.Item1 }, null)</li>
                        <li class="li_ListaSubProyecto">@Html.ActionLink("Manejo de Observaciones", "Index", "Observacion", new { idProyecto = proyecto.Item1 }, null)</li>
                        <li class="li_ListaSubProyecto">@Html.ActionLink("Manejo de Sujetos de Observación", "Index", "Sujeto", new { idProyecto = proyecto.Item1 }, null)</li>
                    </ul>
                }
            }
        </ul>
    }
}
