@{
    ViewBag.Title = "Proyecto";
}

<h2>Administración de Proyectos</h2><hr />
@{
    var lista = ViewData["lista_proyectos"] as List<Tuple<int, String>>;
    if (lista != null)
    {

        // Crea un sistema de tabs para cada proyecto
        using (Html.BeginForm(Html.BeginForm("Info", "Proyecto", FormMethod.Post, 
            new { onSubmit = "interceptSubmitProyecto()"})))
        {
            <div class="btn-group-lg">
                @{ 
                    foreach(Tuple<int,String> proyecto in lista)
                    {
                        <button class="btn btn-outline-dark" type="submit" name="proyecto" value=@proyecto.Item1>
                            @proyecto.Item2
                        </button>
                    }
                }
            </div><hr />
        }

        // Crea la vista por proyecto que contiene valores básicos y botones de navegación

        <div class="container-fluid" id="contenedorProyecto">
    @{
        if (ViewData.Keys.Contains("proyecto_abierto"))
        {
            var proyecto = ViewData["proyecto_abierto"] as Dictionary<String, dynamic>;
            using (Html.BeginForm("AccionColaboradores", "Proyecto", new { id = proyecto["id_proyecto"] }))
            {
                <br>
                <div class="row align-items-center">
                    <div class="col-auto">
                        <span class="input-group-text">Colaboradores</span>
                        <select class="form-control" multiple="multiple" name="colaboradores">
                            @foreach (Tuple<int, String> colaborador in proyecto["colaboradores"] as List<Tuple<int, String>>)
                            {
                                <option value=@colaborador.Item1>@colaborador.Item2</option>
                            }
                        </select>
                    </div>
                    <div class="col-auto">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Nombre</span>
                            </div>
                            <input class="form-control" type="text" name="nombreColaborador"><br>
                        </div>
                    </div>
                    <div class="col-auto align-items-center">
                        <div class="btn-group-vertical" role="group">
                            <input class="btn btn-outline-dark" type="submit" name="accion" value="Agregar" />
                            <input class="btn btn-outline-dark" type="submit" name="accion" value="Borrar">
                        </div>
                    </div>
                </div>

            }
            <hr />
            using (Html.BeginForm("AccionOperaciones", "Proyecto", new { id = proyecto["id_proyecto"]}))
            {
                <div class="input-group mb3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Operacion</span>
                    </div>
                    <select class="custom-select" name="operacion">
                        @foreach(Tuple<int, String> operacion in proyecto["operaciones"] as List<Tuple<int, String>>){
                            <option value=@operacion.Item1> @operacion.Item2 </option>
                        }
                    </select>
                    <div class="input-group-append">
                        <div class="btn-group">
                            <input class="btn btn-outline-primary" type="submit" name="accion" value="Cargar" />
                            <input class="btn btn-outline-primary" type="submit" name="accion" value="Modificar" />
                            <input class="btn btn-outline-primary" type="submit" name="accion" value="Eliminar" />
                            <input class="btn btn-outline-primary" type="submit" name="accion" value="Agregar" />
                            <input class="btn btn-outline-primary" type="submit" name="accion" value="Consolidado" />
                        </div>
                    </div>
                </div>
            }
            <hr />
            using (Html.BeginForm("AccionObservaciones", "Proyecto", new { id = proyecto["id_proyecto"] }))
            {
                <div class="row align-items-center">
                    <div class="col-auto">
                        <span class="input-group-text">Observaciones para la operación</span>
                        <select class="form-control" multiple="multiple" name="observaciones">
                            @if (ViewData.Keys.Contains("observaciones"))
                            {
                                foreach(Tuple<int, String> observacion in ViewData["observaciones"] as List<Tuple<int, String>>)
                                {
                                    <option value=@observacion.Item1>
                                        @observacion.Item2
                                    </option>       
                                }
                            }
                        </select>
                    </div>
                    <div class="col-auto">
                        <div class="btn-group-vertical">
                            <input class="btn btn-outline-dark" type="submit" name="accion" value="Administrar" />
                            <input class="btn btn-outline-dark" type="submit" name="accion" value="Eliminar" />
                            <input class="btn btn-outline-dark" type="submit" name="accion" value="Agregar" />
                        </div>
                    </div>
                </div>
            }
            <hr />

            using(Html.BeginForm("AccionProyecto", "Proyecto", new { id = proyecto["id_proyecto"] }))
            {
                <div class="align-items-center">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <div class="btn-group-vertical">
                                <input class="btn btn-outline-primary" type="submit" name="accion" value="Consolidados y Gráficos" />
                                <input class="btn btn-outline-primary" type="submit" name="accion" value="Modificar Proyecto" />
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="btn-group-vertical">
                                <input class="btn btn-outline-primary" type="submit" name="accion" value="Informe General" />
                                <input class="btn btn-outline-primary" type="submit" name="accion" value="Informe por Recorridos" />
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="btn-group-vertical">
                                <input class="btn btn-outline-primary" type="submit" name="accion" value="Tipo de muestreo y cálculos" />
                                <input class="btn btn-outline-primary" type="submit" name="accion" value="Finalizar Proyecto" />
                            </div>
                        </div>
                    </div>
                </div>
            }

        }
    }
         
        </div>
    }

}
