<h2>Inicio de Sesión</h2>
<br>
<div>
    <form action="~/Usuario/Login" method="post">
        Identificador de Usuario (20 caracteres máximo)
        <input type="text" name="id"><br>
        Password
        <input type="password" name="pass"><br>
        <input type="submit" value="Iniciar Sesión">
    </form>
</div>

