<h2>Registrar Usuario</h2>
<p>En esta sección podrá ingresar todos los datos necesarios para registrar un usuario. Para hacer esta tarea debe iniciar sesión como administrador primero</p>
<div>
    <form action="~/Usuario/Registrar" method="post">
        Nombre del usuario
        <input type="text" name="nombre"><br>
        Identificador de Usuario (20 caracteres máximo)
        <input type="text" name="id"><br>
        Password
        <input type="password" name="pass"><br>
        <input type="submit" value="Registrar Nuevo Usuario">
    </form>
</div>

